<html>
	<head>
		<title>Magic Eightball</title>
		<link type="text/CSS" rel="stylesheet" href="/stylesheets/app.css" />
		<link href="https://fonts.googleapis.com/css?family=Acme|Share+Tech+Mono" rel="stylesheet">	
	</head>
	<body>

	<div class='menu'>
		<div class='logo'>
			<h1>Magic Eightball</h1>
		</div>
		
		<nav>
			<ul>
				<li><a href='/'>Home</a></li>
				<li><a href='/show'>List of Answers</a></li>
				<li><a href='/create'>Add Answer</a></li>
				<li><a href='/reset'>Reset Answers</a></li>
			</ul>
		</nav>
		
	</div>


		<%= yield %>

	</body>
</html>